body{
    margin: 0;
    padding: 0;
    background: url(Football-team.webp);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box{
    width: 320px;
    height: 475px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input[type="submit"]
{
    border: none;
    outline: none;
    margin-top: 20px;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}
select{
    border: none;
    outline: none;
    width: 260px;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

select:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
    box-decoration-break: none;
}

select a:hover
{
    color: #39dc79;
    box-decoration-break: none;
}

.login-box input[type="checkbox"]
{
    width: 27px;
    height: 27px;
    margin-bottom: 20px;
    margin-top: 7px;
}
.label{
    font-size: 35px;
    font-weight: bold;
}
.div1{
    width: 100%;
    height: 40px;
    background-color: #1c8adb;
    margin-top: 10px;
}

.div1:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
    box-decoration-break: none;
}

.div1 a:hover
{
    color: #39dc79;
    box-decoration-break: none;
}
